<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${post.title}"></title>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>

<div class="col-md-12">
    <div class="col-md-4">
        <div class="form-group">
            <label for="title">제목</label>
            <p id="title" th:text="${post.title}"></p>
        </div>
        <div class="form-group">
            <label for="author">작성자</label>
            <p id="author" th:text="${post.author()}"></p>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <p id="content" th:text="${post.content()}"></p>
            <div th:each="file : ${files}">
                <img th:src="'https://spring-board-file.s3.ap-northeast-2.amazonaws.com/' + ${file}" />
            </div>
        </div>
    </div>
    </br>
    <form th:if="${user != null}" id="comment-form">
        <div class="mb-3 form-group">
            <label for="comment-author" class="form-label">댓글 작성자</label>
            <span id="comment-author" type="text" class="form-control" th:text="${user.name()}"></span>
        </div>
        <div class="mb-3 form-group">
            <label for="comment-content" class="form-label">댓글 작성</label>
            <textarea class="form-control" id="comment-content" rows="3" placeholder="댓글을 입력해주세요"></textarea>
            <span>비밀 댓글</span>
            <input type="checkbox" name="secret" class="comment-secretYn">
        </div>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <a th:if="${user.name().equals(post.author())}" role="button" class="btn btn-warning"
           th:href="${'/posts/update/' + post.id()}", style="color: white">
            수정
        </a>
    </form>
    <div th:if="${user == null}">
        <textarea class="form-control" rows="3" placeholder="로그인 후 댓글 등록이 가능합니다." disabled></textarea>
    </div>
    <div class="col-md-4" id="post-comments">
        <ul>
            <li th:each="comment : ${comments}">
                <div th:if="${comment.commentLevel() == 1}" th:attr="dataset-id=${comment.id()}, parent-id=0">
                    <span th:text="${comment.author()}"></span>
                    <p th:text="${comment.content()}"></p>
                    <p th:text="${comment.createdDate()}" style="opacity: 0.6"></p>
                    <button type="button" class="create-comment_form" th:if="${user != null}">답글</button>
                    <button type="button" class="del-comment" th:if="${user != null && comment.author().equals(user.name())}">❌</button>
                </div>

                <div th:if="${comment.commentLevel() > 1}" th:attr="dataset-id=${comment.id()}, parent-id=${comment.parentId().getId()}, style='margin-left: ' + (${comment.commentLevel()} * 15) + 'px'">
                    <span th:utext="|${'└ '}|" th:if="${comment.commentLevel() > 1}"></span>
                    <span th:text="${comment.author()}"></span>
                    <p th:text="${comment.content()}"></p>
                    <p th:text="${comment.createdDate()}" style="opacity: 0.6"></p>
                    <button type="button" class="create-comment_form" th:if="${user != null}">답글</button>
                    <button type="button" class="del-comment" th:if="${user != null && comment.author().equals(user.name())}">❌</button>
                </div>
            </li>
        </ul>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/comments.js"></script>
<script src="/js/app/posts.js"></script>
</body>
</html>